<!-- Mather -->
<script>
(function () {
  window._matherq = [
    ["setCustomerId", "ma39482"],
    ["setMarket", "93382992"],
    ["enableActivityTracking", 30, 10],
    ["trackPageView"]
  ];

  var script = document.createElement('script');
  script.async = true;
  script.src = "https://js.matheranalytics.com/s/ma39482/93382992/sp.js?cb=" + Date.now();
  document.head.appendChild(script);

})();
</script>
<!-- End Mather -->

<!-- Chartbeat bottom -->
<script>
var _sf_async_config={
  uid:22565,
  domain:"seattletimes.com",
  useCanonical: "true",
  sections: "",
  authors: "By Seattle Times staff"
};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('src',
(("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();
</script>

<!-- Comscore pixel -->
<img class="comscore" alt="" style="display: none" src="https://b.scorecardresearch.com/p?c1=2&c2=6950471&cv=2.0&cj=1&c4=<%= encodeURIComponent(json.project.url) %>" />