<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":0,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2021\/project-name",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2019-11-5 17:30:00",
	"modifieddate":"2019-11-5 17:30:00",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"local politics",
	"section_tier2":"local",
	"sections_all":"politics",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
